{
  "db_conf": [
    {
      "store": "ar",
      "server": "127.0.0.1",
      "port": 27017,
      "database": "argo_TenantA",
      "username": "",
      "password": ""
    },
    {
      "store": "status",
      "server": "127.0.0.1",
      "port": 27017,
      "database": "argo_TenantA",
      "username": "",
      "password": ""
    }
  ]
}
